In [33]:
%matplotlib inline
import pyodbc
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import sys
sys.path.append("..") # Adds higher directory to python modules path.  
import seaborn as sns
import os.path
from scipy.stats import ttest_ind
from sklearn.feature_selection import SelectKBest, chi2
import missingno as msno
from tableone import TableOne
#pd.set_option('display.max_rows', None)

In [14]:
NoShow_Clean = pd.read_pickle('NoShow_Clean.pkl')

In [15]:
NoShow_Clean.head()

,Year,Season,WeekEnd,LastYear,LastSeason,LastWeekEnd,ClientType,Staff,BLastStaff,StaffCancType,...,ServicePrice,IsCanceled,LastIsCanceled,DaysRecency_cat,LastServicePrice_cat,LastServiceCost_cat,TotalClientCancellationsTillNow_cat,CancellationPcnt_cat,ServiceCost_cat,TotalClientBookingsTillNow_cat
0,2018,Summer,1,2018,Summer,1,LowCancClient,JOANNE,JOANNE,HighCancStaff,...,0.0,0,0,NewClient,NewClient,5.00-10.00,NewClient,NewClient,Unknown,NewClient
1,2018,Summer,1,2018,Summer,1,LowCancClient,JOANNE,BECKY,HighCancStaff,...,0.0,0,0,NewClient,0.00-102.00,0.00-5.00,NewClient,NewClient,Unknown,NewClient
2,2018,Summer,1,NewClient,NewClient,NewClient,LowCancClient,JOANNE,NewClient,HighCancStaff,...,0.0,0,NewClient,NewClient,NewClient,NewClient,NewClient,NewClient,Unknown,NewClient
3,2018,Summer,0,2018,Summer,0,LowCancClient,JOANNE,JJ,HighCancStaff,...,0.0,0,0,NewClient,0.00-102.00,0.00-5.00,NewClient,NewClient,Unknown,NewClient
4,2018,Summer,0,2018,Summer,0,LowCancClient,JOANNE,JOANNE,HighCancStaff,...,0.0,0,0,NewClient,NewClient,5.00-10.00,NewClient,NewClient,Unknown,NewClient

In [20]:
label = 'IsCanceled'

In [16]:
NoShow_Clean.dtypes

Year                                   category
Season                                 category
WeekEnd                                category
LastYear                               category
LastSeason                             category
LastWeekEnd                            category
ClientType                             category
Staff                                  category
BLastStaff                             category
StaffCancType                          category
BLastServiceCode                       category
BLastWomenMenService                   category
BLastColorCutService                   category
LastServiceCategory                    category
ServiceCode                            category
ServiceCancType                        category
WomenMenService                        category
ColorCutService                        category
ServiceCategory                        category
ServicePrice                            float64
IsCanceled                             category
LastIsCanceled                         category
DaysRecency_cat                        category
LastServicePrice_cat                   category
LastServiceCost_cat                    category
TotalClientCancellationsTillNow_cat    category
CancellationPcnt_cat                   category
ServiceCost_cat                        category
TotalClientBookingsTillNow_cat         category
dtype: object

In [36]:
X = pd.get_dummies(NoShow_Clean.drop(label, axis=1))

In [38]:
X.head()

,ServicePrice,Year_2018,Year_2019,Season_Fall,Season_Spring,Season_Summer,Season_Winter,WeekEnd_0,WeekEnd_1,LastYear_2018.0,...,TotalClientCancellationsTillNow_cat_NewClient,CancellationPcnt_cat_0.00-0.27,CancellationPcnt_cat_0.27-1.00,CancellationPcnt_cat_NewClient,ServiceCost_cat_0.00-0.27,ServiceCost_cat_0.27-1.00,ServiceCost_cat_Unknown,TotalClientBookingsTillNow_cat_0.00-0.27,TotalClientBookingsTillNow_cat_0.27-1.00,TotalClientBookingsTillNow_cat_NewClient
0,0.0,1,0,0,0,1,0,0,1,1,...,1,0,0,1,0,0,1,0,0,1
1,0.0,1,0,0,0,1,0,0,1,1,...,1,0,0,1,0,0,1,0,0,1
2,0.0,1,0,0,0,1,0,0,1,0,...,1,0,0,1,0,0,1,0,0,1
3,0.0,1,0,0,0,1,0,1,0,1,...,1,0,0,1,0,0,1,0,0,1
4,0.0,1,0,0,0,1,0,1,0,1,...,1,0,0,1,0,0,1,0,0,1

In [40]:
y = NoShow_Clean[label]

In [45]:
selector = SelectKBest(chi2, k=80)
X_new = selector.fit_transform(X, y)

In [49]:
selected_cols = X.columns[selector.get_support()]
selected_cols

Index(['ServicePrice', 'Season_Fall', 'Season_Spring', 'Season_Summer',
       'Season_Winter', 'LastYear_2018.0', 'LastYear_NewClient',
       'LastSeason_Fall', 'LastSeason_Spring', 'LastSeason_Summer',
       'LastSeason_Winter', 'LastSeason_NewClient', 'LastWeekEnd_0.0',
       'LastWeekEnd_1.0', 'LastWeekEnd_NewClient', 'ClientType_HighCancClient',
       'ClientType_LowCancClient', 'Staff_HOUSE', 'Staff_JJ', 'Staff_KELLY',
       'BLastStaff_BECKY', 'BLastStaff_JOANNE', 'BLastStaff_KELLY',
       'BLastStaff_NewClient', 'BLastServiceCode_CBAL', 'BLastServiceCode_CCO',
       'BLastServiceCode_CT', 'BLastServiceCode_FRI', 'BLastServiceCode_SBD',
       'BLastServiceCode_SDUD', 'BLastServiceCode_SHCC',
       'BLastServiceCode_SMO', 'BLastServiceCode_NewClient',
       'BLastWomenMenService_Child', 'BLastWomenMenService_Other',
       'BLastWomenMenService_NewClient', 'BLastColorCutService_Other',
       'BLastColorCutService_NewClient', 'LastServiceCategory_COLOR',
       'LastServiceCategory_STYLE', 'LastServiceCategory_NewClient',
       'ServiceCode_CBAL', 'ServiceCode_CCO', 'ServiceCode_CDPB',
       'ServiceCode_CFC', 'ServiceCode_CHLPHC', 'ServiceCode_CON',
       'ServiceCode_CTU', 'ServiceCode_FRI', 'ServiceCode_SBD',
       'ServiceCode_SBD5+1', 'ServiceCode_SHCC', 'ServiceCode_SHCM',
       'ServiceCode_SHCW', 'WomenMenService_Child', 'WomenMenService_Man',
       'WomenMenService_Other', 'WomenMenService_Woman', 'ColorCutService_Cut',
       'ColorCutService_Other', 'ServiceCategory_COLOR',
       'ServiceCategory_MISC', 'ServiceCategory_STYLE', 'LastIsCanceled_0.0',
       'LastIsCanceled_1.0', 'LastIsCanceled_NewClient',
       'DaysRecency_cat_0.00-2.00', 'DaysRecency_cat_2.00-19.00',
       'DaysRecency_cat_50.00-260.00', 'LastServicePrice_cat_102.00-300.00',
       'LastServiceCost_cat_0.00-5.00', 'LastServiceCost_cat_5.00-10.00',
       'LastServiceCost_cat_NewClient',
       'TotalClientCancellationsTillNow_cat_0.00-1.00',
       'TotalClientCancellationsTillNow_cat_1.00-3.00',
       'TotalClientCancellationsTillNow_cat_NewClient',
       'CancellationPcnt_cat_0.00-0.27', 'CancellationPcnt_cat_0.27-1.00',
       'CancellationPcnt_cat_NewClient',
       'TotalClientBookingsTillNow_cat_0.27-1.00'],
      dtype='object')