In [64]:
%matplotlib inline
import pyodbc
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import sys
sys.path.append("..") # Adds higher directory to python modules path.  
import seaborn as sns
import os.path
from scipy.stats import ttest_ind
import missingno as msnoasdxcz
pd.set_option('display.max_rows', None)

importing the files

In [65]:
ClientsCancellation = pd.read_csv('./ProjectData/Client Cancellations0.csv')

In [66]:
#The date data is not valid, it needs to be fixed
ClientsCancellation["Cancel Date"] = pd.to_datetime(ClientsCancellation["Cancel Date"], format="%m/%d/%Y")
ClientsCancellation["Booking Date"] = pd.to_datetime(ClientsCancellation["Booking Date"], format="%m/%d/%Y")

In [67]:
ClientsCancellation["Booking Date"][0]

Timestamp('2018-05-24 00:00:00')

In [68]:
ClientsCancellation.head()

  Cancel Date    Code Service   Staff Booking Date Canceled By  Days
0 2018-05-22   MASA01  CFC     JOANNE 2018-05-24    ADMIN       2.0
1 2018-06-27   MASA01  CBAL    KELLY  2018-06-27    ADMIN       0.0
2 2018-07-03   MASA01  SHCM    BECKY  2018-07-10    BECKY       7.0
3 2018-07-10   MASA01  SHCC    JJ     2018-07-11    KELLY       1.0
4 2018-07-24   TRUA01  SHCM    KELLY  2018-07-24    TANYA       0.0

In [70]:
ClientsCancellation.to_csv ('ProjectData/ClientsCancellation1.csv')