# Exercises for part I - Try it at home

## List
 
1. Create a list of numbers from 1 to 10

In [1]:
a = list(range(1,11))

In [2]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Append to the list the number 20

In [3]:
a.append(20)

In [4]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20]

3. Insert two zeros after the fourth place of the list

In [5]:
a.insert(4,0)
a.insert(4,0)

In [6]:
a

[1, 2, 3, 4, 0, 0, 5, 6, 7, 8, 9, 10, 20]

4. Sort the list in reverse order

In [7]:
a.sort(reverse=True)

In [8]:
a

[20, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, 0]

5. Remove the last two items from the list

In [9]:
a = a[:-2]

In [10]:
a

[20, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

6. Invert the order of the list

In [11]:
a.reverse()

In [12]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20]

7. How many items has the list?

In [13]:
len(a)

11

8. Give the minimum, maximum and the sum of all the items in the list

In [14]:
print ("Minimum : %d\nMaximum : %d\nSum : %d" % (min(a), max(a), sum(a)))

Minimum : 1
Maximum : 20
Sum : 75

In [15]:
print (f'Minimum : {min(a)}\nMaximum : {max(a)}\nSum : {sum(a)}')

Minimum : 1
Maximum : 20
Sum : 75

9. What will happen if you multiply the list by 2?

In [16]:
a * 2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20]

10. Can you divide the list by 3?

In [18]:
a / 3

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [19]:
# no

# Tupples
 
1. Create a tupple with three characters and four numbers

In [20]:
b = ('A', 'B', '?', 1, 2, 3, 4)

In [21]:
b

('A', 'B', '?', 1, 2, 3, 4)

2. Append two booleans (false, true) to the tupple

In [23]:
b = b + (False, True)

In [29]:
b

('A', 'B', '?', 1, 2, 3, 4, False, True)

3. Retrieve the third to sixth items from the tupple

In [25]:
b[2:6]

('?', 1, 2, 3)

In [30]:
b

('A', 'B', '?', 1, 2, 3, 4, False, True)

4. Divide the tupple by data type and create a list for each, then create a muttable tupple using these lists

In [34]:
int_list = []
str_list = []
bool_list = []

for w in b:
    if(isinstance(w,bool)):
        bool_list.append(w)
    elif(isinstance(w,str)):
        str_list.append(w)
    elif(isinstance(w,int)):
        int_list.append(w)
c = (str_list, int_list, bool_list)

In [35]:
print (f'str_list: {str_list}\nint_list: {int_list}\nbool_list: {bool_list}')

str_list: ['A', 'B', '?']
int_list: [1, 2, 3, 4]
bool_list: [False, True]

# Sets
 
1. Create a set using the following paragraph:
 
<quote>
"Shallow copy is a bit-wise copy of an object. A new object is created that has an exact copy of the values in the original object"
<quote>
 
Note: Each part of the set must be a word, not a character!

In [36]:
original_str = "Shallow copy is a bit-wise copy of an object. A new object is created that has an exact copy of the values in the original object"

In [39]:
original_str

'Shallow copy is a bit-wise copy of an object. A new object is created that has an exact copy of the values in the original object'

In [43]:
set(original_str.replace(".", "").lower().split(' '))

{'a',
 'an',
 'bit-wise',
 'copy',
 'created',
 'exact',
 'has',
 'in',
 'is',
 'new',
 'object',
 'of',
 'original',
 'shallow',
 'that',
 'the',
 'values'}

2. Do you see something wierd in this set? What? How can you prevent that?

a word with dot is recognized as a different word- we should remove dots  - replace with empty str.

A and a is recognized as different words - we should use .lower or .upper.

# Dictionary
 
1. Generate a dictionary from the following table:

<table>
    <tr> <th> EmployeeID </th> <th> Name </th> <th> Position </th> <th> Phone </th> </tr>
    <tr> <td> 1020 </td> <td> Harry Smith </td> <td> Sales Manager </td> <td> 030-223.65.44 </td> </tr>
    <tr> <td> 2201 </td><td> Margaret Holsum </td> <td> Sales Representative </td> <td> 030-223.64.12 </td> </tr>
    <tr> <td> 3320 </td><td> Lasly Howard </td> <td> Human Resources </td> <td> 030-223.83.33 </td> </tr>
    <tr> <td> 8111 </td><td> Larry Johnson </td> <td> Project Manager </td> <td> 030-224.22.00 </td> </tr>
    <tr> <td> 2733 </td><td> Hellen Young </td> <td> Customer Service </td> <td> 030-223.03.20 </td> </tr>
</table>

In [2]:
Employees = {1020:{'Name':'Harry Smith','Position':'Sales Manager','Phone':'030-223.65.44'}
            ,2201:{'Name':'Margaret Holsum','Position':'Sales Representative','Phone':'030-223.64.12'}
            ,3320:{'Name':'Lasly Howard','Position':'Human Resources','Phone':'030-223.83.33'}
            ,8111:{'Name':'Larry Johnson','Position':'Project Manager','Phone':'030-224.22.00'}
            ,2733:{'Name':'Hellen Young','Position':'Customer Service','Phone':'030-223.03.20'}}

In [7]:
Employees

{1020: {'Name': 'Harry Smith',
  'Position': 'Sales Manager',
  'Phone': '030-223.65.44'},
 2201: {'Name': 'Margaret Holsum',
  'Position': 'Sales Representative',
  'Phone': '030-223.64.12'},
 3320: {'Name': 'Lasly Howard',
  'Position': 'Human Resources',
  'Phone': '030-223.83.33'},
 8111: {'Name': 'Larry Johnson',
  'Position': 'Project Manager',
  'Phone': '030-224.22.00'},
 2733: {'Name': 'Hellen Young',
  'Position': 'Customer Service',
  'Phone': '030-223.03.20'}}

1. Get all the keys of the dictionary

In [4]:
Employees.keys()

dict_keys([1020, 2201, 3320, 8111, 2733])

2. Get all the values of the dictionary

In [6]:
Employees.values()

dict_values([{'Name': 'Harry Smith', 'Position': 'Sales Manager', 'Phone': '030-223.65.44'}, {'Name': 'Margaret Holsum', 'Position': 'Sales Representative', 'Phone': '030-223.64.12'}, {'Name': 'Lasly Howard', 'Position': 'Human Resources', 'Phone': '030-223.83.33'}, {'Name': 'Larry Johnson', 'Position': 'Project Manager', 'Phone': '030-224.22.00'}, {'Name': 'Hellen Young', 'Position': 'Customer Service', 'Phone': '030-223.03.20'}])

In [12]:
[print (value.values()) for key,value in Employees.items()] #get the values of the inner dictionary

dict_values(['Harry Smith', 'Sales Manager', '030-223.65.44'])
dict_values(['Margaret Holsum', 'Sales Representative', '030-223.64.12'])
dict_values(['Lasly Howard', 'Human Resources', '030-223.83.33'])
dict_values(['Larry Johnson', 'Project Manager', '030-224.22.00'])
dict_values(['Hellen Young', 'Customer Service', '030-223.03.20'])

[None, None, None, None, None]

In [13]:
[print (value.keys()) for key,value in Employees.items()] #get the keys of the inner dictionary

dict_keys(['Name', 'Position', 'Phone'])
dict_keys(['Name', 'Position', 'Phone'])
dict_keys(['Name', 'Position', 'Phone'])
dict_keys(['Name', 'Position', 'Phone'])
dict_keys(['Name', 'Position', 'Phone'])

[None, None, None, None, None]

3. Show the third row of the table by calling the dictionary using the respective EmployeeID

In [10]:
Employees[3320]

{'Name': 'Lasly Howard',
 'Position': 'Human Resources',
 'Phone': '030-223.83.33'}

# Loop programming in python
 
1. Write a script that shows all the primary numbers from 1 to 100. Use for.. loop and if..else

In [14]:
def is_primary(n):
    res = True

    s = range(2,int(n**(0.5)+1))
    for l in s:
        if n % l != 0:
            continue
        else:
            res = False
            break
    return res

In [18]:
is_primary(13) #check

True

In [24]:
[f'{x}:{is_primary(x)}' for x in range(100)]

['0:True',
 '1:True',
 '2:True',
 '3:True',
 '4:False',
 '5:True',
 '6:False',
 '7:True',
 '8:False',
 '9:False',
 '10:False',
 '11:True',
 '12:False',
 '13:True',
 '14:False',
 '15:False',
 '16:False',
 '17:True',
 '18:False',
 '19:True',
 '20:False',
 '21:False',
 '22:False',
 '23:True',
 '24:False',
 '25:False',
 '26:False',
 '27:False',
 '28:False',
 '29:True',
 '30:False',
 '31:True',
 '32:False',
 '33:False',
 '34:False',
 '35:False',
 '36:False',
 '37:True',
 '38:False',
 '39:False',
 '40:False',
 '41:True',
 '42:False',
 '43:True',
 '44:False',
 '45:False',
 '46:False',
 '47:True',
 '48:False',
 '49:False',
 '50:False',
 '51:False',
 '52:False',
 '53:True',
 '54:False',
 '55:False',
 '56:False',
 '57:False',
 '58:False',
 '59:True',
 '60:False',
 '61:True',
 '62:False',
 '63:False',
 '64:False',
 '65:False',
 '66:False',
 '67:True',
 '68:False',
 '69:False',
 '70:False',
 '71:True',
 '72:False',
 '73:True',
 '74:False',
 '75:False',
 '76:False',
 '77:False',
 '78:False',
 '79:True',
 '80:False',
 '81:False',
 '82:False',
 '83:True',
 '84:False',
 '85:False',
 '86:False',
 '87:False',
 '88:False',
 '89:True',
 '90:False',
 '91:False',
 '92:False',
 '93:False',
 '94:False',
 '95:False',
 '96:False',
 '97:True',
 '98:False',
 '99:False']

2. Write a different solution to the problem in the last question, but using while.. in place of for..

In [38]:
def is_primary_while(n):
    res = True
    l = 2
    
    while (l < int(n**(0.5)+1)):
        if n % l != 0:
            l = l + 1
        else:
            res = False
            break
    return res

In [39]:
[f'{x}:{is_primary_while(x)}' for x in range(100)]

['0:True',
 '1:True',
 '2:True',
 '3:True',
 '4:False',
 '5:True',
 '6:False',
 '7:True',
 '8:False',
 '9:False',
 '10:False',
 '11:True',
 '12:False',
 '13:True',
 '14:False',
 '15:False',
 '16:False',
 '17:True',
 '18:False',
 '19:True',
 '20:False',
 '21:False',
 '22:False',
 '23:True',
 '24:False',
 '25:False',
 '26:False',
 '27:False',
 '28:False',
 '29:True',
 '30:False',
 '31:True',
 '32:False',
 '33:False',
 '34:False',
 '35:False',
 '36:False',
 '37:True',
 '38:False',
 '39:False',
 '40:False',
 '41:True',
 '42:False',
 '43:True',
 '44:False',
 '45:False',
 '46:False',
 '47:True',
 '48:False',
 '49:False',
 '50:False',
 '51:False',
 '52:False',
 '53:True',
 '54:False',
 '55:False',
 '56:False',
 '57:False',
 '58:False',
 '59:True',
 '60:False',
 '61:True',
 '62:False',
 '63:False',
 '64:False',
 '65:False',
 '66:False',
 '67:True',
 '68:False',
 '69:False',
 '70:False',
 '71:True',
 '72:False',
 '73:True',
 '74:False',
 '75:False',
 '76:False',
 '77:False',
 '78:False',
 '79:True',
 '80:False',
 '81:False',
 '82:False',
 '83:True',
 '84:False',
 '85:False',
 '86:False',
 '87:False',
 '88:False',
 '89:True',
 '90:False',
 '91:False',
 '92:False',
 '93:False',
 '94:False',
 '95:False',
 '96:False',
 '97:True',
 '98:False',
 '99:False']