In [1]:
import DSCourse

DF = DSCourse.tbl("mtcars")

In [2]:
DF.name

'mtcars'

In [3]:
print (DF)

mtcars.csv

In [4]:
DF.summary()

      Minimum        Mean   Median  Maximum
mpg    10.400   20.090625   19.200   33.900
cyl     4.000    6.187500    6.000    8.000
disp   71.100  230.721875  196.300  472.000
hp     52.000  146.687500  123.000  335.000
drat    2.760    3.596563    3.695    4.930
wt      1.513    3.217250    3.325    5.424
qsec   14.500   17.848750   17.710   22.900
vs      0.000    0.437500    0.000    1.000
am      0.000    0.406250    0.000    1.000
gear    3.000    3.687500    4.000    5.000
carb    1.000    2.812500    2.000    8.000

In [5]:
#import pandas as pd
#import numpy as np
#df = pd.read_csv("..\data\mtcars.csv")

In [6]:
#import os
#os.getcwd()

In [7]:
#pd.read_csv("..\data\mtcars.csv")

In [8]:
#df.head()

In [9]:
#numric_df = df.select_dtypes(include=['int64','float64'])

In [10]:
#summary = pd.DataFrame ({"Minimum":numric_df.min(),
#                         "Mean":numric_df.mean(),
#                         "Median":numric_df.median(),
#                        "Maximum":numric_df.max(),})